html, body {
  height: 100%;
  margin: 0;
  background: #eff1f4;
}

.main-body {
  background-image: url('../assets/thumbnail_cookies-bg.jpg');
  background-size: 100%;
}

input[type=radio] {
  width: 20px;
  height: 20px;
}

input[type=checkbox] {
  width: 25px;
  height: 25px;
}

.content {
  float: left;
  height: 100%;
  padding-left: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
}

#botContainer {
  float: right;
  height: 100%;
  width:100%
  position: relative;
  display: none;
  border-width: 2px;
  border-style: inset;
}

#botContainer.wc-display {
  display: block;
}

#notFoundContainer {
  text-align: center;
}

.hiddenSession {
  display: hidden;
}

.wc-message-content{
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #eff1f4;
}
.ac-selectable{
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  box-sizing: border-box !important;
  min-width: 0px !important;
  flex: 1 1 104px !important;
  border-radius: 10px !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3) !important;
  background: #ffffff !important;
  padding: 5px !important;
}
.ac-service-header{
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 17.29px;
  color: rgb(128, 140, 149);
  font-weight: 700;
  overflow-wrap: break-word;
  box-sizing: border-box;
  flex: 0 0 auto;
}
.ac-card-text{
  overflow: hidden !important;
  font-family: "Segoe UI", sans-serif !important;
  text-align: left !important;
  font-size: 14px !important;
  line-height: 15.96px !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 400 !important;
  overflow-wrap: break-word !important;
  box-sizing: border-box !important;
  flex: 0 0 auto !important;
  padding: 0px 9px 14px 8px !important;
}

.ac-card-header{
  overflow: hidden !important;
  font-family: "Segoe UI", sans-serif !important;
  text-align: left !important;
  font-size: 16px !important;
  color: #00008f !important;
  font-weight: 400 !important;
  overflow-wrap: break-word !important;
  box-sizing: border-box !important;
  flex: 0 0 auto !important;
  padding: 0px 9px 0px 8px !important;
}
.ac-row{
  border-top: 1px solid #e5e5e5;
}
.ac-row-first{
}
.ac-row-header{
}
.ac-table{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  flex: 0 0 auto;
  border: 1px solid #e5e5e5;
}

.ac-row-text{
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 17.29px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  padding: 18px 46px 13px 29px;
}

.ac-table-button-div{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  float: right;
}
.format-markdown{
  padding: 10px;
}
.bot-avatar{
    display: none;
}
select {
  background: #ffffff;
}

.title-container {
  display: none;
}

.ac-input div {
  margin: 5px auto;
}

/*
// apply only to report
.ac-container {
  flex: 1 0 !important;
}
*/
/* Hide participant */
.wc-message-from {
  display: none;
}

.wc-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pre-wc-header {
  background-color: #ffffff;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  color: #ffffff;
  font-weight: 500;
  height: 94px;
  left: 0;
  letter-spacing: 0.5px;
  padding: 8px 8px 0 8px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-image: url(./img/logo-text.png);
  background-size: 240px;
  background-repeat: no-repeat;
  background-position: 19.5% 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-link {
  position:absolute;
  top:15%;
  right:10%;
  font-size: 9px;
}
 
.header-link div {
   float:left; 
}
 
.header-link div:first-child a{
  border-right: 1px solid #454545;
}
 
.header-link a {
  color:#454545;
  text-decoration: none;
  font-style: "Segoe UI", sans-serif; 
  padding: 0 5px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.o-cookie-disclaimer {
  font-family: 'Source Sans Pro', 'Arial', 'sans-serif';
  background-color: #5f5f5f;
  z-index: 100;
  color: #fff;

  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
}

.o-cookie-disclaimer a {
  text-decoration: underline;
  color: #fff;
}
 
.o-cookie-disclaimer p {
  margin-top: 0;
}

.o-cookie-disclaimer--fixed {
  z-index: 2000;
  position: fixed;
  bottom: 0;
  width: 100%;
}
 
.o-cookie-disclaimer__title {
  text-transform: uppercase;
  font-size: 16px;
}

.o-container {
  margin: 20px;
}
 
.o-cookie-disclaimer__container {
  width: 100%;
}
 
.o-cookie-disclaimer__container--rx {
  margin-top: 16px;
  text-align: center;
}

.disclaimer__container {
  margin-top: 16px;
  text-align: center;
}

.m-button {
  border: solid 2px #fff;
  color: #fff;
  background: transparent;
  font-size: 14px;
  padding: 5px;
  margin: 0 5px;
}

.m-button:hover {
  color: #3b3fd8;
  background: #fff;
}

.alert.alert-warning.browser {
  margin-top: 200px;
  text-align: center;
}

/** MEDIA QUERIES **/

@media (max-width: 768px) {
  .o-cookie-disclaimer {
    height: 35%;
    font-size: 20px;
  }

  .m-button {
    font-size: 18px;
    height: 65px;
    width: 130px;
  }

  .main-body {
    background-image: url('../assets/mobile-cookies-bg.jpg');
    background-size: 100%;
  }
}

@media (max-width: 450px) {
  .o-cookie-disclaimer {
    height: 36%;
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  .o-cookie-disclaimer {
    height: 48%;
    font-size: 20px;
  }

  .m-button {
    font-size: 18px;
    height: 65px;
    width: 130px;
  }
}

@media (max-width: 320px) {
  .m-button {
    font-size: 18px;
    height: 48px;
    width: 126px;
  }
}




@media (min-width: 768px) {
  .o-cookie-disclaimer {
    height: 20%;
    font-size: 20px;
  }

  .m-button {
    font-size: 18px;
    height: 65px;
    width: 130px;
  }

  .o-cookie-disclaimer .u-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .o-cookie-disclaimer__container--lx {
    width: 70%;
  }

  .o-cookie-disclaimer__container--rx {
    margin: 10px 0;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .o-cookie-disclaimer {
    height: 25%;
    font-size: 20px;
  }

  .main-body {
    background-image: url('../assets/thumbnail_cookies-bg.jpg');
    background-size: 100%;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .o-cookie-disclaimer {
    height: 50%;
    font-size: 20px;
  }

  .main-body {
    background-image: url('../assets/thumbnail_cookies-bg.jpg');
    background-size: 100%;
  }
}

/* Iphone 5 */
@media (max-width: 600px) and (orientation: landscape) {
  .o-cookie-disclaimer {
    height: 63%;
    font-size: 20px;
  }

  .main-body {
    background-image: url('../assets/thumbnail_cookies-bg.jpg');
    background-size: 100%;
  }
}